@page "/about"

<PageTitle>About</PageTitle>

@code {
    
}
<h1>Sobre o Projeto</h1>

<p>Desenvolvido por:</p> 
 <ul>
  <li>Daniel Silva, 202003011</li>
  <li>Francisco Coelho, 202100733</li>
  <li>Francisco Monteira de Magalhães, 202103420</li>
  <li>Guilherme da Silva Gama, 202100735</li>
  <li>Mykhailo Bevz, 201700791</li>
  <li>Sérgio Coutinho, 202100742</li>
</ul> 

<p>Este projeto foi elaborado no âmbito da Unidade Curricular de Sistemas Digitais Interativos, <br>parte do Mestrado em Multimédia, na Universidade do Porto.</p>