@inherits LayoutComponentBase
<div class="page">
    <main>
        <TopBar />
        <article class="content">
            @Body
        </article>
    </main>

</div>
<style>
    .content {
        padding: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>
