html, body {
    font-family: 'Jost', sans-serif;
    /*--primaryColor: #5f8fcb;*/
    --primaryColor: white;
    --backColor: black;
    /*--backColor: #e9f4ff;*/
    margin: 0;
  }
  
.loadingBack {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    border-radius: 8px;
}

.loadingTitle {
    color: white;
    font-weight: 800;
    position: absolute;
    display: inline-flex;
    top: 47%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.loadingLogo{
    width: 300px;
}

.loader {
    margin-right: 80px;
    transform: translate(35px, -56px);
}

.loader>*{
    height: 8px;
    width: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
}
.l-bar:nth-child(1){
    animation-delay: 0.15s;
    transform: translate(-50%,150%);
}
.l-bar:nth-child(2){
    animation-delay: 0.3s;
    transform: translate(-65%,300%);
}
.l-bar:nth-child(3){
    animation-delay: 0.45s;
    transform: translate(-45%,450%);
}
.l-bar:nth-child(4){
    animation-delay: 0.6s;
    transform: translate(-50%,600%);
}

/* .loader::after, .loader::before {
        content: '';
        width: 8px;
        height: 40px;
        border-radius: 4px;
        background: currentColor;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        box-sizing: border-box;
        animation: animloader 0.3s 0.45s linear infinite alternate;
    } */

    .loader::before {
        left: -20px;
        animation-delay: 0s;
    }

@keyframes animloader {
    0% {
        width: 48px
    }

    100% {
        width: 4px
    }
}